APP_READ_ONLY=false
APP_NAME="Fiacre Development"
APP_ENV=local
APP_KEY=base64:FcCymcz/sZHvunE2OB/FXvOdz3myanpoS+B9SaoLmmo=
APP_DEBUG=true
APP_URL=http://localhost
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_LOCALE_PHP=en_US
APP_TIMEZONE=UTC
LOG_CHANNEL=daily

MIX_GOOGLE_API_KEY="AIzaSyD-aqJby-P72dOO5xNfOI3X2EjAPffOQbc"

DEBUGBAR_ENABLED=false
SINGLE_LOGIN=false

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=ecommerce_db2
DB_USERNAME=root
DB_PASSWORD=

#BROADCAST_DRIVER=log
BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379







#MAIL_DRIVER=smtp
#MAIL_HOST=smtp.office365.com
#MAIL_PORT=587
#MAIL_USERNAME=support@sunfarmacy.com
#MAIL_PASSWORD=HighView128
#MAIL_ENCRYPTION=ssl
#MAIL_FROM_ADDRESS=support@sunfarmacy.com
#MAIL_FROM_NAME="SunFarmacy"

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=leopoldo.a@filipinowebmasters.com
MAIL_PASSWORD=abing2019
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=mail@sunfarmacy.com
MAIL_FROM_NAME="${APP_NAME}"



AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

#PUSHER_APP_ID=1054527
#PUSHER_APP_KEY=da0d006c93b426af3aee
#PUSHER_APP_SECRET=83f808ced88e8d260e82
#PUSHER_APP_CLUSTER=ap1


PUSHER_APP_ID=123123123
PUSHER_APP_KEY=ASDQWEASD
PUSHER_APP_SECRET=IHAKSJDKJASHDA
PUSHER_APP_CLUSTER=ap1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# Access
ENABLE_REGISTRATION=true
CHANGE_EMAIL=false
PASSWORD_HISTORY=3
PASSWORD_EXPIRES_DAYS=30

# This should be one or the other, or neither
REQUIRES_APPROVAL=false
CONFIRM_EMAIL=true
#//

# Get your credentials at: https://www.google.com/recaptcha/admin
CONTACT_CAPTCHA_STATUS=false
REGISTRATION_CAPTCHA_STATUS=true
LOGIN_CAPTCHA_STATUS=false
GUEST_ORDER_CAPTCHA=true
OTHER_CAPTCHA=true
BILLING_PROFILE=false

INVISIBLE_RECAPTCHA_SITEKEY=6LcZmaYZAAAAAHVxYaFz_euKnxzFWKFcO3zX94_H
INVISIBLE_RECAPTCHA_SECRETKEY=6LcZmaYZAAAAAFdxgPpPyrdTNN0z7pr33jNHI1iT
INVISIBLE_RECAPTCHA_BADGEHIDE=false
INVISIBLE_RECAPTCHA_DATABADGE='bottomright'
INVISIBLE_RECAPTCHA_TIMEOUT=5
INVISIBLE_RECAPTCHA_DEBUG=false

# Socialite Providers
FACEBOOK_ACTIVE=false
#FACEBOOK_CLIENT_ID=
#FACEBOOK_CLIENT_SECRET=
#FACEBOOK_REDIRECT=${APP_URL}/login/facebook/callback

BITBUCKET_ACTIVE=false
#BITBUCKET_CLIENT_ID=
#BITBUCKET_CLIENT_SECRET=
#BITBUCKET_REDIRECT=${APP_URL}/login/bitbucket/callback

GITHUB_ACTIVE=false
#GITHUB_CLIENT_ID=
#GITHUB_CLIENT_SECRET=
#GITHUB_REDIRECT=${APP_URL}/login/github/callback

GOOGLE_ACTIVE=false
#GOOGLE_CLIENT_ID=
#GOOGLE_CLIENT_SECRET=
#GOOGLE_REDIRECT=${APP_URL}/login/google/callback

LINKEDIN_ACTIVE=false
#LINKEDIN_CLIENT_ID=
#LINKEDIN_CLIENT_SECRET=
#LINKEDIN_REDIRECT=${APP_URL}/login/linkedin/callback

TWITTER_ACTIVE=false
#TWITTER_CLIENT_ID=
#TWITTER_CLIENT_SECRET=
#TWITTER_REDIRECT=${APP_URL}/login/twitter/callback


PACEFUZE_ACC=fMapYVpVTd8P6BSg4jje
PACEFUZE_PUBLIC_KEY=aUS8gQpXsEL0UZ0blYIIgAPU6
PACEFUZE_PRIVATE_KEY=DRfuNp7dhX1vttbGPMpJtN9eb
PACEFUZE_URL=https://test.fuzepace.com/api
PACEFUZE_INSIGHT_TAG="T0250605-0010000-00000000"

#LIVE
#PACEFUZE_ACC=fMapYVpVTd8P6BSg4jje
#PACEFUZE_PUBLIC_KEY=agn7pK8dcnWeMu9YkvNpFXqrI
#PACEFUZE_PRIVATE_KEY=WvkXCcCC6J4afy0Kb4zmMRSrL
#PACEFUZE_URL=https://api.fuzepace.com/api
#PACEFUZE_INSIGHT_TAG="T0250605-0010000-00000000"
