// Plugins

// FontAwesome 5
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "mixins";


body {
    font-family: "Source Sans Pro", sans-serif !important;
}


@import "frontend/nav/nav-landing";
@import "frontend/nav/nav";


.nav-item,
.navbar-text {
    font-weight: bold;
}

a.nav-link.active {
    color:#339f25 !important;
}

// Header Styles
.read-only,
.logged-in-as {
    margin: 0 !important;
    border-radius: 0 !important;
}
.content-top-margin{
    margin-top:10px;
    @include mobile {
        margin-top:0px;
    }
}


