.page-register-success {
    .header {
        text-align: center;
        font-size: 5.5rem;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    .sub-header {
        text-align: center;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
}
