.page-register {
    .bg-sign-up {
        background: url("/img/sunfarmacy/bg-signup.jpg") no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
