.nav-fixed{
    // position: fixed;
    // position: sticky;
    // width: 100%;
    // top:0;
    z-index:3;
    width:100%;
    // @include mobile {
    //     position: static;
    // }
}


nav#nav-contacts{
    @include mobile {
        padding: 0px !important;
        font-size: 10px;
        margin-top: -1px;
        margin-bottom: -1px;
    }

}

nav.navbar.sunfarm {

        background-color: #f0edbd !important;
        padding:1rem;
        @include mobile {
            padding:0rem;
        }
        @include tablet {
            padding:0rem;
        }

        .sunfarm-togggler-config{
            @include mobile {
                margin-right:10px;
            }
        }

        .sunfarm-navbrand{
            position: absolute;
            @include mobile {
                position: relative;
            }
            @include tablet {
                position: relative;
            }

                    .sunfarm-navbrand-image{
                        width: auto;
                        height: 125px !important;
                        @include mobile {
                            height: 50px !important;
                            margin-left: 10px;
                        }
                        @include tablet {
                            height: 50px !important;
                            margin-left: 10px;
                        }

                    }

                    .sunfarm-navbrand-image-2{
                        width: auto;
                        height: 50px !important;
                        @include mobile {
                            height: 50px !important;
                            margin-left: 10px;
                        }
                        @include tablet {
                            height: 50px !important;
                            margin-left: 10px;
                        }
                    }

        }


        ul.navbar-nav.config-in-mobile{
            @include mobile {
                padding-left:20px;
            }
            .cart-item{
                padding-top: 5px;
                padding-bottom: 10px;
            }
        }
}







